# Versions
GRAFANA_VERSION=10.2.3
LOKI_VERSION=2.9.3
PROMTAIL_VERSION=2.9.3

# Ports
GRAFANA_PORT=3000
LOKI_PORT=3100

# Grafana credentials
GF_SECURITY_ADMIN_USER=admin
GF_SECURITY_ADMIN_PASSWORD=your_strong_password
